.folder {
    font-size: 1.5rem;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.folderInfo:hover {
    color: var(--highlight-color);
}

.folder img {
    height: 1rem;
    margin-right: 0.8rem;
    transform: rotate(180deg);
}

.closed img {
    transform: rotate(90deg);
}

.folderChildren {
    margin-left: 1.7rem;
    display: block;
}

.closed .folderChildren {
    display: none;
}

.file:hover {
    color: var(--highlight-color);
}