.folder {
    font-size: 1.5rem;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
    cursor: pointer;
}

.folderInfo:hover {
    color: var(--highlight-color);
}

.folder img {
    height: 1rem;
    margin-right: 0.8rem;
    transform: rotate(180deg);
}

.closed img {
    transform: rotate(90deg);
}

.folderChildren {
    margin-left: 1.7rem;
    display: block;
}

.closed .folderChildren {
    display: none;
}

.file {
    cursor: pointer;
}

.file:hover {
    color: var(--highlight-color);
}

.openFile {
    color: var(--highlight-color);
}

.react-contextmenu {
    background-color: var(--background-color);
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    cursor: pointer;

    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.react-contextmenu-item {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 1rem;
}

.react-contextmenu-item--selected {
    background-color: var(--hover-color);
}