#Sidebar {
    background-color: var(--sidebar-color);
    padding: 2rem;
    position: relative;
}

h1 {
    font-size: 3rem;
}

.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 0 2rem 0 2rem;
}