#Sidebar {
    background-color: var(--sidebar-color);
    padding: 2rem;
    padding-bottom: 1rem;
    position: relative;

    display: flex;
    flex-flow: column;
    /* height: 900px; */
    height: 100vh;
}

h1 {
    font-size: 3rem;
}

.middle {
    flex: 2;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 1rem;
    padding-right: 5px;
}

::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: var(--sidebar-color);
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--background-color);
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--highlight-color);
}