#Main {
    background-color: var(--background-color);
}

.tox-tinymce {
    min-height: 100vh !important;
}

/* .tox-edit-area, .tox-edit-area__iframe {
    background-color: var(--background-color) !important;
    
}

.mce-content-body {
    color: var(--text-color) !important;
}*/

.tox-statusbar__branding {
    display: none;
}